<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- JSON 콘솔 출력 -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- timestamp 필드 -->
                <timestamp>
                    <timeZone>Asia/Seoul</timeZone>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd HH:mm:ss</pattern>
                </timestamp>

                <!-- app 필드 -->
                <pattern>
                    <pattern>
                        {
                            "app": "lilling-be"
                        }
                    </pattern>
                </pattern>

                <!-- level 필드 -->
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>

                <!-- logger_name 필드 -->
                <loggerName>
                    <fieldName>logger_name</fieldName>
                </loggerName>

                <!-- message 필드 -->
                <message>
                    <fieldName>message</fieldName>
                </message>

                <!-- 예외 발생 시 stack_trace-->
                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <!-- 운영에서는 INFO -->
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

    <!-- luti.server 패키지는 INFO -->
    <logger name="luti.server" level="INFO"/>

    <!-- noisy 패키지 -->
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.SQL" level="OFF"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="OFF"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

</configuration>
